

#logInSection {
    width: 500px;
    height: 400px;
    padding: 30px;
    margin-left: 25%;
    margin-top: 7%;
    
    /*background-image: url("./styles/images/pexels-photo-2662116.jpeg");*/
    position: absolute;
    top:auto ;
    left: auto;
    transform: translate(auto , auto);
    border-radius: 12px;
    box-shadow: 12px;
    overflow: hidden;
}


#logInSection .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(201, 33, 33);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0,5;
    
}

#logInSection .form_class .fname  {
   width: fit-content;
   font-size: large;
   padding-bottom: 12px;
   padding-top: 24px;
   font-weight: 300;
   color:aliceblue;
}

#logInSection .form_class {
    position: absolute;
    top: 48px;
    left: 48px;
    transform: translate(-48, -48 );
}

#logInSection .fname_form {
    color:dimgrey ;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    border-color: aliceblue;
}

#logInSection .fname_form:hover {
    color: darkgreen;
    border-radius: 30px;
    background-color: honeydew;
}

#logInSection .button {
    position: absolute;
    top:172px;
    color: dimgrey;
    border-radius: 2px;
    border-style: groove;
    border-color: rgb(13, 13, 196);
}

#logInSection .button:hover {
    background-color: rgb(226, 23, 23);
    color: aliceblue;
    border-color: none;
    border-bottom: 2px;
    border-bottom-color: black;
}

#aside {
    position: absolute;
    top: 100px;
    height: 80%;
}


