

#logInSection {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 200px;
    left: 500px;
    bottom: 100px;
    background-color:bisque;
    border-radius: 12px;
    box-shadow: 12px;

    

}

#logInSection .form_class .fname  {

   width: fit-content;
   font-size: large;
   padding-bottom: 12px;
   padding-top: 24px;
   font-weight: 300;
   color: dimgrey;
}

#logInSection .form_class {
    position: absolute;
    top: 48px;
    left: 48px;
    transform: translate(-48, -48 );
}

#logInSection .fname_form {
    color:dimgrey ;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
}

#logInSection .fname_form:hover {
    color: darkgreen;
    border-radius: 30px;
    background-color: honeydew;

}

#logInSection .button {
    position: absolute;
    top:172px;
    color: dimgrey;
    border-radius: 2px;
    border-style: groove;
    border-color: rgb(13, 13, 196);
}

#logInSection .button:hover {
    background-color: rgb(226, 23, 23);
    color: aliceblue;
    border-color: none;
    border-bottom: 2px;
    border-bottom-color: black;
}


